.root {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #363636;
  position: relative;
  padding: 3.2rem 0rem 0.7rem 0rem;

  display: none;
  @media (max-width: 768px) {
    display: block;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 115%;
      left: -3.3rem;
      height: 0.1rem;
      background: #bfc4c9;
      @media (max-width: 550px) {
        width: calc(100% + 2.2rem);
        left: -2.1rem;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 4.2rem;
    }
  }
}
