.authTitle {
  composes: formTitle from '../forms.module.scss';
}

.inputText {
  composes: inputText from '../forms.module.scss';
}

.inputSubmit {
  composes: inputSubmit from '../forms.module.scss';
  width: 41rem;
}

.inputWrapper {
  composes: inputWrapper from '../forms.module.scss';
}

.inputLabel {
  composes: inputLabel from '../forms.module.scss';
}

.errorMessage {
  composes: errorMessage from '../forms.module.scss';
}

.passShow {
  composes: passShow from '../forms.module.scss';
}
.forgotLink {
  composes: forgotLink from '../forms.module.scss';
}

.inputTextError {
  composes: inputTextError from '../forms.module.scss';
}

.hint {
  composes: hint from '../forms.module.scss';
}

.errorFormContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorSubtitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01rem;
  color: #363636;
}
